<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Student ID<br />
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    Name (Chinese)<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Nickname (English)<br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    Project (40%)<br />
    <%= f.number_field :project %>
  </div>
  <div class="field">
    Final (40%)<br />
    <%= f.number_field :final %>
  </div>
  <div class="field">
    Lab (10%)<br />
    <%= f.number_field :lab %>
  </div>
  <div class="field">
    Class discussion (10%)<br />
    <%= f.number_field :classdiscussion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
