<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td>Student ID :</td>
    <td><%= f.text_field :student_id %></td></tr>

    <tr><td>Name (Chinese) :</td>
    <td><%= f.text_field :name %></td></tr>

    <tr><td>Nickname (English) :</td>
    <td><%= f.text_field :nickname %></td></tr>

    <tr><td>Project (40%) :</td>
    <td><%= f.text_field :project %></td></tr>

    <tr><td>Final (40%) :</td>
    <td><%= f.text_field :final %></td></tr>

    <tr><td>Lab (10%) :</td>
    <td><%= f.text_field :lab %></td></tr>

    <tr><td>Class Discussion (10%) :</td>
    <td><%= f.text_field :classdiscussion %></td></tr>
</table>
  <div class="actions">
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>
