<h2>Edit Student Score</h2>

<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Note: Please enter the scores in percentage form (out of 100)</p>
  <table>
    <tr><td>Student ID :</td>
    <td><%= f.text_field :student_id %></td></tr>

    <tr><td>Name (Chinese) :</td>
    <td><%= f.text_field :name %></td></tr>

    <tr><td>Nickname (English) :</td>
    <td><%= f.text_field :nickname %></td></tr>

    <tr><td>Project 1 :</td>
    <td><%= f.text_field :project1 %></td></tr>

    <tr><td>Project 2 :</td>
    <td><%= f.text_field :project2 %></td></tr>

    <tr><td>Project 3 :</td>
    <td><%= f.text_field :project3 %></td></tr>

    <tr><td>Lab 1 :</td>
    <td><%= f.text_field :lab1 %></td></tr>

    <tr><td>Lab 2 :</td>
    <td><%= f.text_field :lab2 %></td></tr>

    <tr><td>Lab 3 :</td>
    <td><%= f.text_field :lab3 %></td></tr>

    <tr><td>Lab 4 :</td>
    <td><%= f.text_field :lab4 %></td></tr>

    <tr><td>Lab 5 :</td>
    <td><%= f.text_field :lab5 %></td></tr>

    <tr><td>Lab 6 :</td>
    <td><%= f.text_field :lab6 %></td></tr>

    <tr><td>Lab 7 :</td>
    <td><%= f.text_field :lab7 %></td></tr>

    <tr><td>Class Discussion 1 :</td>
    <td><%= f.text_field :classdiscussion1 %></td></tr>

    <tr><td>Class Discussion 2 :</td>
    <td><%= f.text_field :classdiscussion2 %></td></tr>

    <tr><td>Class Discussion 3 :</td>
    <td><%= f.text_field :classdiscussion3 %></td></tr>

    <tr><td>Class Discussion 4 :</td>
    <td><%= f.text_field :classdiscussion4 %></td></tr>

    <tr><td>Class Discussion 5 :</td>
    <td><%= f.text_field :classdiscussion5 %></td></tr>

    <tr><td>Class Discussion 6 :</td>
    <td><%= f.text_field :classdiscussion6 %></td></tr>

    <tr><td>Class Discussion 7 :</td>
    <td><%= f.text_field :classdiscussion7 %></td></tr>

    <tr><td>Class Discussion 8 :</td>
    <td><%= f.text_field :classdiscussion8 %></td></tr>

    <tr><td>Class Discussion 9 :</td>
    <td><%= f.text_field :classdiscussion9 %></td></tr>

    <tr><td>Class Discussion 10 :</td>
    <td><%= f.text_field :classdiscussion10 %></td></tr>

    <tr><td>Class Discussion 11 :</td>
    <td><%= f.text_field :classdiscussion11 %></td></tr>


    <tr><td>Final Exam :</td>
    <td><%= f.text_field :final %></td></tr>

</table>
  <div class="actions">
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Show', @student, class: "btn btn-success" %>
<%= link_to 'Back', students_path, class: "btn btn-info" %>
