<div class="screen_version">
<h1>Grading Worksheet</h1>

<table width="100%">
  <tr>
    <th>Student ID</th>
    <th>Name (Chinese)</th>
    <th>Nickname (English)</th>
    <th>Project (40%)</th>
    <th>Final (40%)</th>
    <th>Lab (10%)</th>
    <th>Class (10%)</th>
    <th>Total</th>
    <th>Grade</th>
    <th>Edit Scores</th>
    <th>Edit Student Information</th>
    <th>Delete Student</th>
    <th>Send Email Report</th>

<% count = 0 %>  
<% rank = Array.new %>  
<% @students.each do |student| %>
    <% if student.total >= 60 %>
        <% count = count+1 %>
        <% rank.push(student.total)%>
    <% end %>
<% end %>
<%  rank = rank.sort %>
<% rank = rank.reverse %>
<% countA = rank[count*0.15] %>  
<% countB = rank[count*0.5] %>  
<% countC = rank[count*0.85] %>  
<% countD = rank[count-1] %>  
   
<% @students.each do |student| %>
  <tr>
    
    <td><%= student.student_id %></td>
    <td><%= student.name %></td>
    <td><%= student.nickname %></td>
    <td><%= student.project %>%</td>
    <td><%= student.final %>%</td>
    <td><%= student.lab %>%</td>
    <td><%= student.classdiscussion %>%</td>
    <td><%= student.total %>%</td>
    <% if student.total < 60 %>
        <td><%= "F" %></td>
    <%end%>
    <% if student.total >= countA %>
        <td><%= "A" %></td>
    <% elsif student.total >= countB %>
        <td><%= "B" %></td>
    <% elsif student.total >= countC %>
        <td><%= "C" %></td>
    <% elsif student.total >= countD %>
        <td><%= "D" %></td>
    <%end%>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to "Info", edit_info_student_path(student) %></td>
    <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Send', send_report_student_path(student) %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @students %>
<br />
<%= link_to 'New Student', new_student_path, class: "btn btn-large btn-primary" %>
<%= link_to "Print", '#', onclick: "javascript:print()", class: "btn btn-large btn-primary"%>
</div>

<div class="print_version">
<table width="100%">
  <tr>
    <th>Student ID</th>
    <th>Name (Chinese)</th>
    <th>Nickname (English)</th>
    <th>Project (40%)</th>
    <th>Final (40%)</th>
    <th>Lab (10%)</th>
    <th>Class (10%)</th>
    <th>Total</th>
<% @students_print.each do |student| %>
  <tr>
    <td><%= student.student_id %></td>
    <td><%= student.name %></td>
    <td><%= student.nickname %></td>
    <td><%= student.project %>%</td>
    <td><%= student.final %>%</td>
    <td><%= student.lab %>%</td>
    <td><%= student.classdiscussion %>%</td>
    <td><%= student.total %>%</td>
  </tr>
<% end %>
</table>
</div>

