<p id="notice"><%= notice %></p>
<h3>Students Grade</h3>

<table>
    <tr><td>Student ID :</td>
    <td><%= @student.student_id %></td></tr>

    <tr><td>Name (Chinese) :</td>
    <td><%= @student.name %></td></tr>

    <tr><td>Nickname (English) :</td>
    <td><%= @student.nickname %></td></tr>

    <tr><td>Project (40%) :</td>
    <td><%= @student.project %></td></tr>

    <tr><td>Final (40%) :</td>
    <td><%= @student.final %></td></tr>

    <tr><td>Lab (10%) :</td>
    <td><%= @student.lab %></td></tr>

    <tr><td>Class discussion (10%) :</td>
    <td><%= @student.classdiscussion %></td></tr>

    <tr><td>Total :</td>
    <td><%= @student.total %></td></tr>
</table>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-success" %>
<%= link_to 'Back', students_path, class: "btn btn-info" %>
